/* LIGHT MODE */
html {
    --bg: #f0f0f0;
    --fg: #222222;
    --accent: rgb(255, 72, 0);
}

/* DARK MODE */
.dark {
    --bg: #222222;
    --fg: #d4d4d4;
    --accent: rgb(255, 142, 42);
}

/* questrial-regular - latin */
@font-face {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/questrial-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/questrial-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Questrial',-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: var(--fg);
    background-color: var(--bg);
    transition: all 0.1s;
}

#container {
    max-width: 1300px;
    height: 100%;
    margin: auto;
    display: flex;
}

iframe {
    width: 100%;
    border: none;
    overflow: hidden;
    margin-top: 13px;
}

#sidebar {
    width: 300px;
    height: 100vh;
    display: inline-block;
    padding: 0 10px;
    overflow: auto;
}

nav {
    margin-top: 15px;
}

nav a {
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    
}

nav .active {
    font-weight: bold;
}

a {
    color: var(--accent);
}

p {
    line-height: 1.5;
    font-size: 1.15em;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

.subpages {
    border-left: solid 1px;
    padding-left: 15px;
}

img {
    width: 100%;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    display: block;
}

.caption, .caption a {
    color: var(--fg);
    opacity: 0.7;
    text-align: center;
    margin: 0;
}